/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require bootstrap.css
 *= require flexslider.css
 *= require font-awesome
 *= require font-awesome.css
 *= require designr-theme-cyan2.css
 *= require style-switcher.css
 *= require css.css
 *= require bootstrap/bootstrap-rails-popover
 *= require_self
 */

.skills  .skfont{
  color: #228Ca8;
  font-size: 19px;
  font-weight: 300;
  margin-top: 50px;
}
.skills a.button{
  margin-top: 5px;
  font-size: 16px;
}
.extraSpace{
  margin-bottom: 10%;
}
.modal-body h1{
  margin: 100px 0 24px;
}
.fntnor{
  font-weight: 300;
}
.font20, #about p{
  font-size: 20px;
}

/* Testimonial */

#quote-carousel {
  padding: 0 10px 20px 10px;
  margin-top: 40px;
}
#quote-carousel .carousel-control {
  background: none;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
#quote-carousel .carousel-indicators {
  position: relative;
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-top: 20px;
  margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  opacity: 0.4;
  overflow: hidden;
  transition: all .4s ease-in;
  vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
  width: 128px;
  height: 128px;
  opacity: 1;
  transition: all .2s;
}
.item blockquote {
  border-left: none;
  margin: 0;
}
.item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
}
blockquote .small, blockquote footer, blockquote small{
	color: black;
}
.carousel-inner{
  min-height: 150px;
}
.dblock{
  display: block;
}
.mySlider{
  height: 1000%;
  position: absolute;
  width: 100%;
  transition-duration: 0s;
  transform: translate3d(0px, -130px, 0px);
}
#main-footer .right-col h6 {
  text-transform: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 0 24px;
}

.services h6 {
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 400;
}

.project-item .hover-mask .project-title {
  text-transform: uppercase;
}