<section id='about'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-4 col-sm-offset-1 scrollimation fade-right'>
        <%= image_tag('about.png', class: 'img-responsive img-circle img-center', alt: 'About') %>
      </div>
      <div class='col-sm-6 col-sm-offset-1 scrollimation fade-left'>
        <h1>Hello, I am Dipak Panchal...</h1>
        <p>
          I'm a Ruby on Rails Developer living in
          <a href='https://goo.gl/KvFKBu' target='_blank'>Ahmedabad, India</a>.
          I have more than 7 years experience of
          <a href='http://rubyonrails.org/' target='_blank'>Ruby on Rails</a>,
          <a href='https://wordpress.com/' target='_blank'>WordPress</a>,
          <a href='https://en.wikipedia.org/wiki/Web_design' target='_blank'>Web Design</a> and
          <a href='https://www.postgresql.org/' target='_blank'>PostgreSQL / MySQL </a>.
          and 2 years experience of
          <a href='https://angularjs.org/' target='_blank'>AngularJS</a>.<br>
          Web Developing is not just a job for me, it's a passion.
        </p>
        <a href='#portfolio' class='btn btn-theme transparent scrollto'>View my Works</a>
        <button type="button" class="btn btn-theme transparent scrollto" data-toggle="modal" data-target="#project-modal-2">
          More about me
        </button>
      </div>
    </div>
  </div>

  <div id='project-modal-2' class='modal fade'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
        </div>

        <div class='modal-body'>
          <div class='project-descr'>
            <p class='font20'>
              Hello! I'm <strong>Dipak Panchal</strong>.<br>

              I am Ruby on Rails Developer since 2011. Most of my work is done in Ruby, Rails, HTML and others. I am a passionate for Ruby on Rails; It's unbeatable when it comes to rapid web application development.
              <br/>

              Being experienced Ruby on Rails developer, I worked at different aspects of web development. I am comfortable working in Back-end as well as Front-end side.
              <br/>

              I have worked on many web applications and contributed to the creating features, doing performance optimization, database modelling and creating technical documents. Also worked with different Gems and PlugIns to integrate as well as customize them as per project requirements including the social networking and payment gateway APIs. I have performed various features where I need to handle ActiveRecords, Database queries and communication between views and controllers in the form of AJAX request or Normal Request.
              <br/>

              I have only one goal when writing a code for application : Create quality application which satisfy clients. As a Developer, I strongly appreciate clean, well-structured, communicative code.
             <br/>

              As a Lead Developer, I am responsible developing, deploying and maintaining applications on production/staging server too. Listening, Improvising Performance, Suggesting and Implementing Solutions.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
