<section id='about'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-4 col-sm-offset-1 scrollimation fade-right'>
        <img class='img-responsive img-circle img-center' src='/assets/about.jpg' alt=''>
      </div>
      <div class='col-sm-6 col-sm-offset-1 scrollimation fade-left'>
        <h1>Hello, I am Dipak Panchal...</h1>
        <p>
          I'm a Ruby on Rails Developer living in
          <a href='https://goo.gl/KvFKBu' target='_blank'>Ahmedabad, India</a>.
          I have more than 7 years experience of
          <a href='http://rubyonrails.org/' target='_blank'>Ruby on Rails</a>,
          <a href='https://wordpress.com/' target='_blank'>WordPress</a>,
          <a href='https://en.wikipedia.org/wiki/Web_design' target='_blank'>Web Design</a> and
          <a href='https://www.postgresql.org/' target='_blank'>PostgreSQL / MySQL </a>.
          and 2 years experience of
          <a href='https://angularjs.org/' target='_blank'>AngularJS</a>.<br>
          Web Developing is not just a job for me, it's a passion.
        </p>
        <a href='#portfolio' class='btn btn-theme transparent scrollto'>View my Works</a>
      </div>
    </div>
  </div>
</section>
