<section id='contact'>
  <div class='container'>
    <h1 class='section-title scrollimation scale-in'>Keep in <span>Touch</span> with me</h1>
    <div class='row text-center'>
      <div class='col-sm-12 contact-info scrollimation fade-right'>
        <p>
          <span class='col-sm-4'>
            <b class='fntnor'> You can email </b> <br> 11dipak.contact@gmail.com
          </span>
          <span class='col-sm-4'>
            <b class='fntnor'> You can skype </b> <br> dipak.panchal.1112
          </span>
          <span class='col-sm-4'>
            <b class='fntnor'> You can call </b> <br> (+91) 972-632-9472
          </span>
        </p>
        <div class="clearfix"></div><hr>
        <address>
          Dipak Panchal<br>
          Ahmedabad - 380013<br>
          Gujarat, India
        </address>

        <ul class='socials'>
          <li><a href='https://plus.google.com/u/0/103315964966250770924' target='_blank'><i class='fa fa-google-plus'></i></a></li>
          <li><a href='https://www.facebook.com/dipak.rails' target='_blank'><i class='fa fa-facebook'></i></a></li>
          <li><a href='https://www.linkedin.com/in/panchaldipak' target='_blank'><i class='fa fa-linkedin'></i></a></li>
          <li><a href='https://stackoverflow.com/users/1562574/dipak-panchal' target='_blank'><i class='fa fa-stack-overflow'></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
