<footer id='main-footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 left-col'>
        <h1 class='small-logo'>DIPAK PANCHAL<br><span>Ruby on Rails Developer</span></h1>
        <ul class='footer-nav'>
          <li><a class='scrollto' href='#home'>Home</a></li>
          <li><a class='scrollto' href='#services'>Services</a></li>
          <li><a class='scrollto' href='#portfolio'>Portfolio</a></li>
          <li><a class='scrollto' href='#contact'>Contact</a></li>
        </ul>
        <p>
          ©2018 By Dipak Panchal /  All Rights Reserved
        </p>
      </div>

      <div class='col-sm-6 right-col'>
        <h2>Who Am I?</h2>
        <p>
          I am Ruby on Rails Developer since 2011.
          Being experienced Ruby on Rails developer, I worked at different aspects of web development.
        </p>
        <p> I am very comfortable working in Back-end as well as Front-end side. </p>
      </div>
    </div>
  </div>
</footer>
