<header id='home' class='jumbotron' style='height: 951px;'>
  <div class='container'>
    <div class='message-box clearfix' style='margin-top: 360.4px;'>
      <div class='left-col'>
        <p>I AM <span>DIPAK</span><br>and I'm a web</p>
      </div>
      <div class='right-col flexslider home-slider' style='z-index:1;'>
        <ul class='slides' style='height: 1000%; position: absolute; width: 100%; transition-duration: 0s; transform: translate3d(0px, -130px, 0px);'>
          <li class='clone' aria-hidden='true' style='display: block;'><p>Expert</p></li>
          <li style='display: block;' class='flex-active-slide'><p>Designer</p></li>
          <li style='display: block;' class=''><p>Developer</p></li>
          <li style='display: block;' class=''><p>Expert</p></li>
          <li style='display: block;' class=''><p>Designer</p></li>
          <li style='display: block;' class='clone' aria-hidden='true'><p>Developer</p></li>
        </ul>
      </div>
    </div>
  </div>
</header>