<header id='home' class='jumbotron hgt951'>
  <div class='container'>
    <div class='message-box clearfix mrtop360'>
      <div class='left-col'>
        <p>I AM <span>DIPAK</span><br>and I'm a web</p>
      </div>
      <div class='right-col flexslider home-slider zindex1'>
        <ul class='slides mySlider'>
          <li class='clone dblock' aria-hidden='true'><p>Expert</p></li>
          <li class='dblock flex-active-slide'><p>Designer</p></li>
          <li class='dblock'><p>Developer</p></li>
          <li class='dblock'><p>Expert</p></li>
          <li class='dblock'><p>Designer</p></li>
          <li class='dblock clone' aria-hidden='true'><p>Developer</p></li>
        </ul>
      </div>
    </div>
  </div>
</header>