<section id='twitter'>
  <div class='container'>
    <div class='row scrollimation fade-in'>
      <div class='col-sm-12'>
        <div id='twitter-slider' class='flexslider' data-widget-id='386017398488186880' data-tweets-length='3'>
          <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner text-center">
              <!-- Quote 1 -->
              <div class="item active">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <p>Extremely pleased with the worked done. The project was to improve critical errors and Dipak proved to be invaluable in fixing the problem with his promptness and attention to detail. Would hire again no questions asked. Highly recommend working with him!</p>
                      <small>Anders Kiss (Medical Product Consultant)</small>
                    </div>
                  </div>
                </blockquote>
              </div>

              <!-- Quote 2 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <p>Dipak is an excellent team member with full stack experience. It was great working with him!</p>
                      <small>Michael Jabbour (Soft Illuminations, Inc.) </small>
                    </div>
                  </div>
                </blockquote>
              </div>

              <!-- Quote 3 -->
              <div class="item">
                <blockquote>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <p>Fast and precise.</p>
                      <small>Dragan Veljovic (TheEv)</small>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>
            <!-- Carousel Buttons Next/Prev -->
            <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
            <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
